<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263584274027-5hh1dbkvt2plpcjolk38jo22ovkrl0j6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263584274027-5hh1dbkvt2plpcjolk38jo22ovkrl0j6</string>
	<key>API_KEY</key>
	<string>AIzaSyD5qUg30CeCulEmSen7g88Yf_2U1OgHpgY</string>
	<key>GCM_SENDER_ID</key>
	<string>263584274027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expenseTracker</string>
	<key>PROJECT_ID</key>
	<string>expense-tracker-5a185</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-tracker-5a185.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263584274027:ios:850699eeb284ad0155c32e</string>
	<key>DATABASE_URL</key>
	<string>https://expense-tracker-5a185-default-rtdb.firebaseio.com</string>
</dict>
</plist>